# Python cache files
__pycache__/
*.pyc

# Virtual Environment folder
# Never commit your virtual environment
venv/
.venv/

# IDE/Editor specific settings
# These are user-specific and don't belong in the project
.vscode/
.idea/

# Custom folders to ignore
# Our folder for temporary test files
sandbox/

# Secret files
# Files for storing API keys, passwords, etc.
.env
*.env
# Ignore all log files
*.log